In [1]:
import pandas as pd
import numpy as np

In [2]:
train_data = pd.read_csv("Train_Data.csv")
test_data = pd.read_csv("Test_Data.csv")

In [3]:
train_data.head()

         date    campaign    adgroup    ad  ...  clicks  cost  conversions  revenue
0  01-08-2020  campaign 1  adgroup 1  ad 1  ...       6  0.08            0     0.00
1  01-08-2020  campaign 1  adgroup 2  ad 1  ...       0  0.00            0     0.00
2  01-08-2020  campaign 1  adgroup 3  ad 1  ...       4  0.04            0     0.00
3  01-08-2020  campaign 1  adgroup 4  ad 1  ...       4  0.08            0     0.00
4  01-08-2020  campaign 1  adgroup 1  ad 2  ...     126  1.29            4   925.71

[5 rows x 9 columns]

In [4]:
test_data.head()

         date    campaign    adgroup  ... impressions  clicks  conversions
0  01-03-2021  campaign 1  adgroup 1  ...         121      49            1
1  01-03-2021  campaign 1  adgroup 3  ...          22      12            0
2  01-03-2021  campaign 1  adgroup 4  ...           5       3            0
3  01-03-2021  campaign 1  adgroup 2  ...           2       1            0
4  01-03-2021  campaign 1  adgroup 2  ...           3       1            0

[5 rows x 8 columns]

In [5]:
train_data

            date    campaign    adgroup  ...  cost  conversions  revenue
0     01-08-2020  campaign 1  adgroup 1  ...  0.08            0     0.00
1     01-08-2020  campaign 1  adgroup 2  ...  0.00            0     0.00
2     01-08-2020  campaign 1  adgroup 3  ...  0.04            0     0.00
3     01-08-2020  campaign 1  adgroup 4  ...  0.08            0     0.00
4     01-08-2020  campaign 1  adgroup 1  ...  1.29            4   925.71
...          ...         ...        ...  ...   ...          ...      ...
4566  28-02-2021  campaign 1  adgroup 3  ...  0.07            0     0.00
4567  28-02-2021  campaign 1  adgroup 4  ...  0.00            0     0.00
4568  28-02-2021  campaign 1  adgroup 3  ...  0.12            1    93.20
4569  28-02-2021  campaign 1  adgroup 1  ...  0.23            0     0.00
4570  28-02-2021  campaign 1  adgroup 1  ...  0.14            0     0.00

[4571 rows x 9 columns]

In [6]:
train_data.describe()

       impressions       clicks         cost  conversions       revenue
count  4571.000000  4571.000000  4571.000000  4571.000000   4571.000000
mean     92.635747    43.340844     2.800834     1.339094    231.865340
std     198.349737   100.164913    14.361618     5.223922   1091.742763
min       1.000000     0.000000     0.000000     0.000000      0.000000
25%       6.000000     2.000000     0.040000     0.000000      0.000000
50%      16.000000     7.000000     0.210000     0.000000      0.000000
75%      84.000000    38.000000     1.350000     1.000000     92.600000
max    3239.000000  1771.000000   531.250000    94.000000  20515.410000

In [7]:
test_data

           date    campaign    adgroup  ... impressions  clicks  conversions
0    01-03-2021  campaign 1  adgroup 1  ...         121      49            1
1    01-03-2021  campaign 1  adgroup 3  ...          22      12            0
2    01-03-2021  campaign 1  adgroup 4  ...           5       3            0
3    01-03-2021  campaign 1  adgroup 2  ...           2       1            0
4    01-03-2021  campaign 1  adgroup 2  ...           3       1            0
..          ...         ...        ...  ...         ...     ...          ...
313  15-03-2021  campaign 1  adgroup 4  ...           1       1            0
314  15-03-2021  campaign 1  adgroup 3  ...           5       1            0
315  15-03-2021  campaign 1  adgroup 1  ...          25      11            0
316  15-03-2021  campaign 1  adgroup 3  ...           9       4            0
317  15-03-2021  campaign 1  adgroup 1  ...          67      27            1

[318 rows x 8 columns]

In [8]:
test_data.describe()

             cost  impressions      clicks  conversions
count  318.000000   318.000000  318.000000   318.000000
mean     0.381352    67.144654   29.720126     0.805031
std      0.591480   101.078870   45.200014     1.802480
min      0.000000     1.000000    0.000000     0.000000
25%      0.020000     4.000000    2.000000     0.000000
50%      0.105000    20.000000    9.000000     0.000000
75%      0.490000   103.000000   40.750000     1.000000
max      3.530000   589.000000  276.000000    15.000000

In [9]:
df = pd.concat([train_data, test_data])
df

           date    campaign    adgroup  ...  cost  conversions  revenue
0    01-08-2020  campaign 1  adgroup 1  ...  0.08            0     0.00
1    01-08-2020  campaign 1  adgroup 2  ...  0.00            0     0.00
2    01-08-2020  campaign 1  adgroup 3  ...  0.04            0     0.00
3    01-08-2020  campaign 1  adgroup 4  ...  0.08            0     0.00
4    01-08-2020  campaign 1  adgroup 1  ...  1.29            4   925.71
..          ...         ...        ...  ...   ...          ...      ...
313  15-03-2021  campaign 1  adgroup 4  ...  0.01            0      NaN
314  15-03-2021  campaign 1  adgroup 3  ...  0.01            0      NaN
315  15-03-2021  campaign 1  adgroup 1  ...  0.14            0      NaN
316  15-03-2021  campaign 1  adgroup 3  ...  0.06            0      NaN
317  15-03-2021  campaign 1  adgroup 1  ...  0.33            1      NaN

[4889 rows x 9 columns]

In [10]:
df.shape

(4889, 9)

In [11]:
from sklearn.preprocessing import LabelEncoder
 
lenc = LabelEncoder()
df.ad = lenc.fit_transform(df['ad']) 

enc = pd.get_dummies(df.adgroup)
df = pd.concat([df,enc], axis = 1)

In [12]:
df["weekday"] = pd.to_datetime(df.date).dt.weekday
df["month"] = pd.to_datetime(df.date).dt.month
df["year"] = pd.to_datetime(df.date).dt.year

In [13]:
df.drop(["date","campaign","adgroup"], axis = 1, inplace = True)

In [14]:
df.dtypes

ad               int64
impressions      int64
clicks           int64
cost           float64
conversions      int64
revenue        float64
adgroup 1        uint8
adgroup 2        uint8
adgroup 3        uint8
adgroup 4        uint8
weekday          int64
month            int64
year             int64
dtype: object

In [15]:
df.shape

(4889, 13)

In [16]:
X_train = df.iloc[0:4571, :].drop(["revenue"], axis =1)
y_train = df.iloc[0:4571, :].revenue
X_test = df.iloc[4571:, :].drop(["revenue"], axis =1)

In [17]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X_train= scaler.fit_transform(X_train)
X_test= scaler.transform(X_test)

In [18]:
from sklearn.linear_model import Ridge, Lasso, LinearRegression
from sklearn.linear_model import RidgeCV, LassoCV
from sklearn.ensemble import RandomForestRegressor, AdaBoostRegressor, GradientBoostingRegressor
from sklearn.tree import DecisionTreeRegressor


## Import evaluation metrics
from sklearn.metrics import r2_score, mean_squared_error

In [19]:
lr = LinearRegression()

lr.fit(X_train,y_train)
y_pred_test = lr.predict(X_test)
y_pred_train = lr.predict(X_train)

print("R2_Score for training data:", r2_score(y_train, y_pred_train))
print("RMSE for training data:", mean_squared_error(y_train, y_pred_train))

R2_Score for training data: 0.9400051190920703
RMSE for training data: 71492.39035612672

In [20]:
ls = Lasso()

ls.fit(X_train,y_train)
y_pred_test = ls.predict(X_test)
y_pred_train = ls.predict(X_train)

print("R2_Score for training data:", r2_score(y_train, y_pred_train))
print("RMSE for training data:", mean_squared_error(y_train, y_pred_train))

R2_Score for training data: 0.9398015960490443
RMSE for training data: 71734.91686202653

In [21]:
lsCV = LassoCV()

lsCV.fit(X_train,y_train)
y_pred_test = lsCV.predict(X_test)
y_pred_train = lsCV.predict(X_train)

print("R2_Score for training data:", r2_score(y_train, y_pred_train))
print("RMSE for training data:", mean_squared_error(y_train, y_pred_train))

R2_Score for training data: 0.9387229166204976
RMSE for training data: 73020.31604288553

In [22]:
rdg = Ridge()

rdg.fit(X_train,y_train)
y_pred_test = rdg.predict(X_test)
y_pred_train = rdg.predict(X_train)

print("R2_Score for training data:", r2_score(y_train, y_pred_train))
print("RMSE for training data:", mean_squared_error(y_train, y_pred_train))

R2_Score for training data: 0.9400044472539034
RMSE for training data: 71493.190946373

In [23]:
rdgCV = RidgeCV()

rdgCV.fit(X_train,y_train)
y_pred_test = rdgCV.predict(X_test)
y_pred_train = rdgCV.predict(X_train)

print("R2_Score for training data:", r2_score(y_train, y_pred_train))
print("RMSE for training data:", mean_squared_error(y_train, y_pred_train))

R2_Score for training data: 0.9399537634002822
RMSE for training data: 71553.5879301323

In [24]:
gbr = GradientBoostingRegressor(n_estimators = 100)

gbr.fit(X_train,y_train)
y_pred_test = gbr.predict(X_test)
y_pred_train = gbr.predict(X_train)

print("R2_Score for training data:", r2_score(y_train, y_pred_train))
print("RMSE for training data:", mean_squared_error(y_train, y_pred_train))

R2_Score for training data: 0.9877958908980693
RMSE for training data: 14542.922973761059

In [25]:
gbr = GradientBoostingRegressor(n_estimators = 500)

gbr.fit(X_train,y_train)
y_pred_test = gbr.predict(X_test)
y_pred_train = gbr.predict(X_train)

print("R2_Score for training data:", r2_score(y_train, y_pred_train))
print("RMSE for training data:", mean_squared_error(y_train, y_pred_train))

# Test RMSE = 143.73

R2_Score for training data: 0.9951889981183597
RMSE for training data: 5732.989537126121

In [26]:
adboost = AdaBoostRegressor(n_estimators = 100)

adboost.fit(X_train,y_train)
y_pred_test = adboost.predict(X_test)
y_pred_train = adboost.predict(X_train)

print("R2_Score for training data:", r2_score(y_train, y_pred_train))
print("RMSE for training data:", mean_squared_error(y_train, y_pred_train))

# Test RMSE = 185.68

R2_Score for training data: 0.9528660057180307
RMSE for training data: 56166.82402322441

In [27]:
rf = RandomForestRegressor(n_estimators = 500)

rf.fit(X_train,y_train)
y_pred_test = rf.predict(X_test)
y_pred_train = rf.predict(X_train)

print("R2_Score for training data:", r2_score(y_train, y_pred_train))
print("RMSE for training data:", mean_squared_error(y_train, y_pred_train))

R2_Score for training data: 0.9935853611995964
RMSE for training data: 7643.949853251567

In [28]:
dtr = DecisionTreeRegressor(max_depth = 5)

dtr.fit(X_train,y_train)
y_pred_test = dtr.predict(X_test)
y_pred_train = dtr.predict(X_train)

print("R2_Score for training data:", r2_score(y_train, y_pred_train))
print("RMSE for training data:", mean_squared_error(y_train, y_pred_train))

# Test RMSE = 148.86

R2_Score for training data: 0.9800671366387458
RMSE for training data: 23752.827354137986

In [29]:
res = pd.DataFrame(y_pred_test)  
res.columns = ["revenue"]
res.to_csv("prediction_results_dtr.csv", index = False)

In [32]:
pred = pd.read_csv("prediction_results_dtr.csv")

In [33]:
pred

        revenue
0    162.957931
1      0.000000
2      0.000000
3      0.000000
4      0.000000
..          ...
313    0.000000
314    0.000000
315    0.000000
316    0.000000
317  162.957931

[318 rows x 1 columns]

In [34]:
pred.loc[pred.revenue < 1, "revenue"] = 0

In [35]:
pred

        revenue
0    162.957931
1      0.000000
2      0.000000
3      0.000000
4      0.000000
..          ...
313    0.000000
314    0.000000
315    0.000000
316    0.000000
317  162.957931

[318 rows x 1 columns]

**THE END**